.sidebar-container {
  display: none;
}
.sidebar > div {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
.sidebar-auth {
  margin-bottom: 3rem;
  gap: 20re;
}
.sidebar-auth a {
  color: var(--primary);
  font-size: 2.2rem;
  border: 0.45rem solid var(--primary);
  border-radius: 1.5rem;
  padding: 2rem 16rem 2rem 16rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.sidebar-auth > a:hover {
  background-color: var(--primary);
  color: var(--bg);
}
.sidebar-links {
  flex-direction: column;
}
.sidebar-links a {
  display: inline-block;
  width: fit-content;
  color: var(--text);
  font-size: 5rem;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
}
.sidebar-links > a:hover {
  color: var(--text-muted);
}
.sidebar-icons {
  display: flex;

  gap: 2rem;
}
@media (max-width: 768px) {
  .sidebar-container {
    display: block;
  }
  .sidebar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    animation-name: SidebarInitialization;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background: var(--gradient);
  }
  .sidebar-closing {
    animation-name: SidebarClosing;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
@keyframes SidebarInitialization {
  0% {
    transform: translate(50vw, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes SidebarClosing {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(50vw, 0);
    opacity: 0;
  }
}
