.languageselector {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  width: 100vw;
  height: 100vh;
  animation-name: LanguageselectorInitialization;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  background: var(--bg-light);
}
.languageselector-closing {
  animation-name: LanguageselectorClosing;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.languageselector-grid {
  position: relative;
  display: grid;
  height: 100%;
  width: 70%;
  grid-template-columns: repeat(4, 3fr);
  grid-auto-rows: 20rem;

  row-gap: 1rem;
}
.languageselector-closeicon {
  position: absolute;
  top: 1%;
  right: 1%;
}
.languageselector-language {
  color: var(--text);
  cursor: pointer;
  font-size: 4rem;
}
.languageselector-language-selected {
  color: var(--text-muted);
}
@keyframes LanguageselectorInitialization {
  0% {
    transform: translate(0, -50vh);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes LanguageselectorClosing {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -50vh);
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .languageselector-grid {
    width: 90%;
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .languageselector-grid {
    width: 95%;
    font-size: 2rem;
  }
}
@media (max-width: 550px) {
  .languageselector-grid {
    width: 99%;
    font-size: 1.2rem;
  }
}
