/* Light theme*/
:root[data-theme="light"] {
  --bg-dark: oklch(0.92 0.005 235);
  --bg: oklch(0.96 0.005 235);
  --bg-light: oklch(1 0.005 235);
  --text: oklch(0.15 0.01 235);
  --text-muted: oklch(0.4 0.01 235);
  --highlight: oklch(1 0.01 235);
  --border: oklch(0.6 0.01 235);
  --border-muted: oklch(0.7 0.01 235);
  --primary: oklch(0.4 0.1 235);
  --secondary: oklch(0.4 0.1 55);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.05), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --gradient: linear-gradient(var(--bg-dark), var(--bg-light));
  --gradient-hover: linear-gradient(var(--bg-dark), var(--bg-light));
}

/* Dark theme */
:root[data-theme="dark"] {
  --bg-dark: oklch(0.1 0.005 235);
  --bg: oklch(0.15 0.005 235);
  --bg-light: oklch(0.2 0.005 235);
  --text: oklch(0.96 0.01 235);
  --text-muted: oklch(0.76 0.01 235);
  --highlight: oklch(0.5 0.01 235);
  --border: oklch(0.4 0.01 235);
  --border-muted: oklch(0.3 0.01 235);
  --primary: oklch(0.76 0.1 235);
  --secondary: oklch(0.76 0.1 55);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
  --gradient: linear-gradient(var(--bg-dark), var(--bg-light));
  --gradient-hover: linear-gradient(var(--bg-dark), var(--bg-light));
}
