* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

@media (max-width: 1400px) {
  html {
    font-size: 60%;
  }
}

/* Standard */
@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}

/* Tablets */
@media (max-width: 992px) {
  html {
    font-size: 56%;
  }
}

/* Tablets portrait */
@media (max-width: 768px) {
  html {
    font-size: 54%;
  }
}

/* Large phones */
@media (max-width: 576px) {
  html {
    font-size: 52%;
  }
}

/* Small phones */
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
/* global font */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: background-color 0.3s ease;
  font-style: normal;
}
/* defaults */
a {
  text-decoration: none;
}
header {
  margin-bottom: 2rem;
}
button {
  background-color: none;
  border: none;
  outline: none;
}
/* util classes */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
