/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* global font */
body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: var(--primary);
  line-height: 1.6;
  background: var(--bg);
}

/* defaults */
a {
  text-decoration: none;
}
header {
  margin-bottom: 2rem;
}
button {
  background-color: none;
  border: none;
  outline: none;
}
/* util classes */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
