nav {
  height: 7rem;
  padding: 1.2rem;
  width: 100vw;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--highlight) solid;
  transition: background-color 0.3s ease;
}
nav > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-title {
  font-size: 3rem;
}
.nav-auth {
  margin-right: 20px;
}
.nav-auth a {
  color: var(--primary);
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
}
.nav-auth > a:hover {
  color: var(--secondary-hover);
}
.nav-links a {
  color: var(--text);
  font-size: 2rem;
  margin: 4rem;
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;
}
.nav-links > a:hover {
  color: var(--text-muted);
}
@media (max-width: 768px) {
  .nav-auth {
    display: none;
  }
  .nav-links {
    display: none;
  }
}
